/* Base CSS used for the web layout on sites with no side content */

@import "variables.scss";

.wrapper {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
}

footer {
  grid-row: 3;
}

/* Main content relocated */

.main-content {
  grid-column: 1 / 4;
  grid-row: 2;
  text-align: center;

  h1,
  h2 {
    padding: 0;
    text-align: center;
  }

  ul {
    max-width: 60%;

    /* Small Desktop */
    @media screen and (max-width: $breakpoint-desktop) {
      max-width: 80%;
    }

    /* Big mobile & tablet */
    @media screen and (max-width: $breakpoint-tablet) {
      max-width: 100%;
    }
  }
}
