/* Footer */

@import "variables.scss";

footer {
  grid-column: 1 / 4;
  grid-row: 5;

  display: flex;
  width: 100%;

  z-index: 9999;

  background-color: $primary-color;

  .footer-text {
    font-family: "Open Sans";
    font-size: 0.9rem;

    width: 50%;

    margin: 15px 0;
    margin-top: 10px;

    color: $white-color;

    p {
      color: inherit;
      margin: auto 5%;

      a {
        color: inherit;
      }
    }

    &.footer-info {
      .footer-info-wrapper {
        max-width: 60%;
      }
    }

    &.footer-info,
    &.footer-copyright {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .footer-info p,
  .footer-copyright p {
    margin: 10px 0;
  }

  .footer-copyright p {
    text-align: center;
  }

  .footer-social {
    font-size: 1.5rem;
    display: flex;

    a {
      color: inherit;
      padding: 5px 10px;
      margin: 0 3px;
      text-decoration: none;
      border-radius: 50%;
      transition: all 0.3s linear;

      &:hover {
        color: $primary-color;
        background-color: $white-color;
      }
    }
  }

  /* Tablet & smaller */
  @media screen and (max-width: $breakpoint-tablet) {
    flex-direction: column;

    .footer-text {
      width: 100%;

      p {
        max-width: 60%;
      }

      &.footer-info {
        .footer-info-wrapper {
          max-width: none;
        }
      }

      &.footer-info,
      &.footer-copyright {
        align-items: start;
      }
    }

    .footer-info p,
    .footer-copyright p,
    .footer-social {
      margin-left: 5%;
    }

    .footer-social {
      // Compensate icon padding
      transform: translateX(-10px);
    }
  }
}
