/* Nav */

@import "variables.scss";

nav {
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $primary-color;

  margin-bottom: 25px;

  .brand {
    display: inline-block;
    margin: 2px;
  }

  ul {
    display: flex;
    padding-left: 15px;
    list-style: none; /* Remove virtual space between elements*/

    li {
      display: inline-block;

      a {
        position: relative;
        color: $white-color;
        font-size: 20px;
        font-family: "Open Sans";
        text-decoration: none;
        padding: 20px 20px 15px 20px;
        transition: background-color 0.25s ease-in-out 0s;

        &:hover {
          border-bottom-style: solid;
          border-bottom-color: $nav-active-border-color;
          border-bottom-width: 0.2rem;

          background-color: $nav-active-color;
        }
      }

      .active {
        border-bottom-style: solid;
        border-bottom-color: $nav-active-border-color;
        border-bottom-width: 0.2rem;

        background-color: $nav-active-color;
      }
    }
  }

  /* Big mobile & tablet */
  @media screen and (max-width: $breakpoint-tablet) {
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $primary-color;

    margin-bottom: 0px;

    ul li {
      .active {
        border-bottom-style: none;
        background-color: inherit;
      }

      a:hover {
        background-color: transparent;
        border: 0px;
      }
    }

    .brand {
      margin: auto 10px;
    }
  }
}

.nav-container {
  .brand {
    display: none;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    z-index: -1;
    background: $nav-open-background-color;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;

    box-sizing: border-box;
    padding: 10% 0;

    .nav-container-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > * {
        width: 50%;
      }

      figure {
        width: 50%;
        margin: 0;

        img {
          width: 100%;
        }
      }

      .brand {
        display: initial;
        transform: translateX(-100px);
        transition: transform 0.6s ease-out;
        z-index: 1;

        box-sizing: border-box;
        padding: 15px;
      }

      ul {
        display: flex;
        flex-direction: column;
        padding: 5px 5px;
        padding-block: 0;
        padding-inline: 0;
        margin-block: 0;
        margin-inline: 0;

        li {
          text-align: right;
          width: 100%;
          margin: 5px 5px;
          padding: 10px 5px;
          transition: transform 0.25s ease-out;

          a {
            padding: 10px 25px;
            opacity: 0;
            color: $nav-link-color;
            font-size: 40px;
            font-weight: 600;
            transform: translateY(-20px);
            transition: all 0.3s ease;

            /* Small Mobile */
            @media screen and (max-width: $breakpoint-small-mobile) {
              font-size: 24px;
              transition: all 0.2s ease;
            }
          }

          &:hover {
            transform: translateX(-8%);
          }

          &:nth-child(1) a {
            transition-delay: 0.2s;
          }

          &:nth-child(2) a {
            transition-delay: 0.3s;
          }

          &:nth-child(3) a {
            transition-delay: 0.4s;
          }

          &:nth-child(4) a {
            transition-delay: 0.5s;
          }

          &:not(:first-child) {
            margin-left: 0;
          }
        }
      }
    }
  }
}

/* Responsive for tablet and below */
@media screen and (max-width: $breakpoint-tablet) {
  .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
    height: 42%;
    width: 28px;

    margin: auto 10px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
    color: #222;
    transition: color 0.3s ease;

    &.open {
      position: fixed;

      width: 28px;
      height: 28px;

      right: 0;

      color: $white-color;

      & + .nav-container {
        z-index: 9990;
        opacity: 1;
        pointer-events: all;
      }

      & + .nav-container {
        .brand {
          transform: translateX(0px);
        }

        ul li a {
          opacity: 1;
          transform: translateY(0);
        }
      }

      span {
        &:nth-child(1) {
          top: 50%;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }

    span {
      background-color: #fff;
      border-radius: 10px;

      position: absolute;
      width: 100%;
      height: 3px;

      transition: transform 0.3s ease, opacity 0.2s ease;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: calc(50% - 2px);
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }
  }
}
