/* Objective */

@import "variables.scss";

.news-image {
  width: auto;
  max-width: 50%;
  max-height: 50vh;
  margin: 15px auto;
}

.main-content {
  grid-row: 2 / 5;
  grid-column: 1 / 4;

  ul {
    max-width: 100%;
  }
}

.side-content {
  display: none;
}
