/* Team */
@import "variables.scss";

/* Card style */

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px 0;

  @media screen and (max-width: $breakpoint-tablet) {
    flex-direction: column;
  }
}

.team-card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  width: 20%;
  margin: auto 10px;
  text-align: center;

  border-radius: 5%;
  border-bottom-style: solid;
  border-bottom-color: #c7113d;
  border-bottom-width: 2px;

  .card-title {
    color: rgb(156, 155, 155);
    font-size: 18px;
  }

  .card-image {
    max-width: 80%;
    margin-top: 15px;
    border-radius: 50%;
    transition: transform 0.2s ease-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .card-social {
    margin: 10px auto;

    a {
      text-decoration: none;
      font-size: 22px;
      color: black;

      em {
        color: $white-color;
        transition: color 0.3s ease;

        &::before {
          margin: auto 5px;
        }
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }

  /* Small Desktop */
  @media screen and (max-width: $breakpoint-desktop) {
    width: 40%;
  }

  /* Big mobile & tablet */
  @media screen and (max-width: $breakpoint-tablet) {
    margin: 10px auto;
    width: 50%;
  }
}
