$white-color: #fff;

$background-color: #1f2833;
$primary-color: #c7113d;
$secondary-color: #ff6380;

$nav-active-color: #801727;
$nav-active-border-color: #ff7a8e;
$nav-link-color:  #ff304c;
$nav-open-background-color:  #1f2227;

$motto-margin-color: #d9b08c;
$motto-color: #ffcb9a;
$aside-background-color: #3f2833;

$bullet-icon: "\f07a";

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-small-mobile: 480px;

$scrollbar-thumb-color: darkgray;
$scrollbar-thumb-outline-color: slategrey;
