$white-color: #fff;

$background-color: #1f2833;
$primary-color: #6F55F2;
$secondary-color: #AA9CFE;

$nav-active-color:#332770;
$nav-active-border-color: #867BBD;
$nav-link-color:  #ff304c;
$nav-open-background-color:  #1f2227;

$motto-margin-color: #d9b08c;
$motto-color: #ffcb9a;
$aside-background-color: rgba(108, 79, 255, 0.3);

$bullet-icon: "\f11b";

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-small-mobile: 480px;

$scrollbar-thumb-color: darkgray;
$scrollbar-thumb-outline-color: slategrey;
