* {
  margin: 0;
  padding: 0;
}

.parent {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.header, .body, .footer {
  box-sizing: border-box;
  text-align: center;
}

.header {
  background-color: blue;
  height: 20%;
}

.main {
  display: flex;
  height: 100%; /* Fill all available */
}

/* Now main is also flex */
.body {
  background-color: orange;
  width: 70%;
}

.aside {
  background-color: red;
  width: 30%;
}

.footer {
  background-color: green;
  height: 20%;
}


.inner {
  color: white;
  font-size: 2rem;
}
