/* Nav */
nav {
  grid-row: 1;
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6F55F2;
  margin-bottom: 25px;
  /* Big mobile & tablet */
}
nav .brand {
  display: inline-block;
  margin: 2px;
}
nav ul {
  display: flex;
  padding-left: 15px;
  list-style: none;
  /* Remove virtual space between elements*/
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-family: "Open Sans";
  text-decoration: none;
  padding: 20px 20px 15px 20px;
  transition: background-color 0.25s ease-in-out 0s;
}
nav ul li a:hover {
  border-bottom-style: solid;
  border-bottom-color: #867BBD;
  border-bottom-width: 0.2rem;
  background-color: #332770;
}
nav ul li .active {
  border-bottom-style: solid;
  border-bottom-color: #867BBD;
  border-bottom-width: 0.2rem;
  background-color: #332770;
}
@media screen and (max-width: 768px) {
  nav {
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6F55F2;
    margin-bottom: 0px;
  }
  nav ul li .active {
    border-bottom-style: none;
    background-color: inherit;
  }
  nav ul li a:hover {
    background-color: transparent;
    border: 0px;
  }
  nav .brand {
    margin: auto 10px;
  }
}

.nav-container .brand {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1f2833;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
    box-sizing: border-box;
    padding: 10% 0;
  }
  .nav-container .nav-container-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-container .nav-container-wrapper > * {
    width: 50%;
  }
  .nav-container .nav-container-wrapper figure {
    width: 50%;
    margin: 0;
  }
  .nav-container .nav-container-wrapper figure img {
    width: 100%;
  }
  .nav-container .nav-container-wrapper .brand {
    display: initial;
    transform: translateX(-100px);
    transition: transform 0.6s ease-out;
    z-index: 1;
    box-sizing: border-box;
    padding: 15px;
  }
  .nav-container .nav-container-wrapper ul {
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    padding-block: 0;
    padding-inline: 0;
    margin-block: 0;
    margin-inline: 0;
  }
  .nav-container .nav-container-wrapper ul li {
    text-align: right;
    width: 100%;
    margin: 5px 5px;
    padding: 10px 5px;
    transition: transform 0.25s ease-out;
  }
  .nav-container .nav-container-wrapper ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #AA9CFE;
    font-size: 40px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.3s ease;
    /* Small Mobile */
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .nav-container .nav-container-wrapper ul li a {
    font-size: 24px;
    transition: all 0.2s ease;
  }
}
@media screen and (max-width: 768px) {
  .nav-container .nav-container-wrapper ul li:hover {
    transform: translateX(-8%);
  }
}
@media screen and (max-width: 768px) {
  .nav-container .nav-container-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
}
@media screen and (max-width: 768px) {
  .nav-container .nav-container-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
}
@media screen and (max-width: 768px) {
  .nav-container .nav-container-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
}
@media screen and (max-width: 768px) {
  .nav-container .nav-container-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
}
@media screen and (max-width: 768px) {
  .nav-container .nav-container-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }
}

/* Responsive nav for tablet and below */
.nav-toggle {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 45%;
    width: 28px;
    margin: auto 10px;
    cursor: pointer;
    z-index: 9999;
  }
  .nav-toggle.open {
    position: fixed;
    width: 28px;
    height: 28px;
    right: 0;
    color: #fff;
  }
  .nav-toggle.open + .nav-container {
    z-index: 9990;
    opacity: 1;
    pointer-events: all;
  }
  .nav-toggle.open + .nav-container .brand {
    transform: translateX(0px);
  }
  .nav-toggle.open + .nav-container ul li a {
    opacity: 1;
    transform: translateY(0);
  }
  .nav-toggle.open span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  .nav-toggle.open span:nth-child(2) {
    opacity: 0;
  }
  .nav-toggle.open span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }
  .nav-toggle span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    transition: transform 0.3s ease, opacity 0.2s ease;
  }
  .nav-toggle span:nth-child(1) {
    top: 0;
  }
  .nav-toggle span:nth-child(3) {
    bottom: 0;
  }
}

/*# sourceMappingURL=nav.css.map */
