.parent {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 15px;
}

.square {
  width: 200px;
  height: 200px;
  background-color: blueviolet;

  text-align: center;
}


.square .inner {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
